* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.root {
    width: 100%;
    height: 100vh;
    background-color: rgb(215, 233, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calcBody {
    width: fit-content;
    /* height: 500px; */
    /* margin: auto; */
    padding: 15px;
    border-radius: 25px;
    border: 5px solid rgb(23, 24, 36);
    background-color: rgb(43, 45, 66);
    box-shadow: none;
    transition: all ease 0.5s;
}
.calcBody:hover{

    box-shadow: 10px 10px 0px rgba(78, 80, 110, 0.6);
}

.btn-parent {
    width: fit-content;
    margin: auto;
    /* background-color: red; */

}

form input {
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    /* margin: auto; */
    font-size: 1.5em;
    color: aliceblue;
    border-radius: 10px;
    background: rgb(56, 58, 84);
    box-shadow: 5px 5px 20px rgb(30, 32, 46), -5px -5px 20px rgb(56, 59, 86);
    cursor: pointer;
}
form .btn-parent input:hover{
    background-color: rgb(78, 80, 110);
}

form .btn-parent .danger{
    /* color: rgb(227, 105, 120); */
    background-color: rgb(227, 105, 120, 0.4);
}
form .btn-parent .danger:hover{
    background-color: rgb(227, 105, 120, 0.6);
}

form .btn-parent .operators{
    background: rgb(66, 69, 110);
}


form .equals {
    width: 140px;
    font-weight: 600;
    color: rgb(69, 202, 242);
    background: rgb(66, 69, 110);
}

form .display {
    display: flex;
    justify-content: center;
    /* margin: 0px 0px; */
}

form .display input {
    flex: 1;
    height: 80px;
    padding: 10px;
    font-size: 3em;
    font-weight: 600;
    text-align: right;
    color: aliceblue;
    border-radius: 10px;
    /* background: rgba(255, 255, 255,0.2); */
    box-shadow: inset 4px 4px 1px rgba(0, 0, 0, 0.6), inset -4px -4px 6px rgba(255, 255, 255, 0.0);
    cursor:initial;
}

